body {
    background-color: #E4EFE7;
    color: rgb(5, 1, 1);
}

.h1 {
    color: #07635b;
}

.login {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    background-color: #F9F9F9;
    border: 1px solid #92ecec;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
}

.btn {
    color: white;
    background-color: #2db1b1;
    font-size: 16px;
    height: 30px;
    width: 110px;
    border: 1px solid #18adad;
}

.btn:hover {
    background-color: #cdf1e7;
    color: black;
}

.tb {
    width: 180px;
    height: 30px;
    border: 1px solid #2db1b1;
}


.btn2 {
    height: 35px;
    font-size: 15px;
    width: 200px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #96C7C1;
    background-color: #F9F9F9;
    border-radius: 6px;
}

.btn2:hover {
    background-color: #96C7C1;
    color: white;
}
